body {
    height: auto;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

#top {
    background-color: #3f51b5;
    color: white;
    padding: 20px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#top h1 {
    margin: 0;
}
#home-n-employee{
  width: 30%;
  display: flex;
  justify-content: space-around;
}

.navlinkk {
    text-decoration: none;
    color: #fff;
  }

#userlogout {
    display: flex;
    align-items: center;
    gap: 10px;
}

#userlogout p {
    margin: 0;
    font-weight: bold;
}

#userlogout a {
    color: white;
    text-decoration: none;
    background-color: #1a237e;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

#userlogout a:hover {
    background-color: #263238;
}

#show-form-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }

  #show-form-btn:hover {
    background-color: #0056b3;
  }

#employee-form {
    display: none;
}
#employee-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }


  label {
    display: block;
    margin-bottom: 2px;
    font-weight: bold;
    cursor: pointer;
  }


  input[type="text"],
  input[type="email"],
  input[type="tel"],
  select {
    width: 90%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }


  input[type="radio"],
  input[type="checkbox"] {
    margin-right: 5px;
    cursor: pointer;
  }


  input[type="submit"] {
    width: 90%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  input[type="submit"]:hover {
    background-color: #0056b3;
  }